.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App > * {
    /* flex: 1 1 auto; */
}

.App-logo {
    max-width: 300px;
    padding: 30px;
}

.businessFinland-logo {
    max-width: 300px;
    padding: 10px;
}

.main {
    flex: 1 1 auto;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.App-link {
    color: #09d3ac;
}

.event {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.event-select {
    min-width: 300px;
    color: black;
}

.date-select {
    background-color: white;
}

.map-header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.map-header .title {
    margin: 10px 50px 10px 10px;
}
